<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="principal">
      <div class="formulario">
        <h1>Registrar Novo Funcionário</h1>
        <form action="/controllerForm" method="POST">
            <input type="text" placeholder="Nome" name="nome">
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="Senha" name="senha">
            <button type="submit">Cadastrar</button>
        </form>
        <a href="/">Voltar</a>
      </div>
  </div>

</body>
</html>

